body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    background-color: white; /* Changed color to black */
    padding: 10px;
}

.top-nav .login-box {
    margin-left: 15px;
}

.top-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.top-nav a:hover {
    background-color: white; /* Changed hover color to white */
    color: black; /* Changed text color on hover */
}

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: white; /* Changed color to black */
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black; /* Changed text color to white */
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: black; /* Changed hover color to white */
    color: white; /* Changed text color on hover */
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.login-box {
    background-color: black ; /* Changed color to red */
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.login-box a {
    color: white;
    text-decoration: none;
}

.login-box a:hover {
    color: white;
}

.list-unstyled li {
    margin-bottom: 10px;
}

.list-unstyled li a {
    display: block;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.list-unstyled li a:hover {
    background-color: white; /* Changed hover color to white */
    color: black; /* Changed text color on hover */
}